{% set data = { 
    "link": "https://youtu.be/lRA53HiXIxw",
    "type": "youtube",
    "title": "Episode 3 | Broken Keyboard Code Challenge",
    "series": "Refactoring with Bob"
} %}
{% set description %}
    <p>In which we solve a code challenge (being intentionally naive), and then refactor the solve.</p>
{% endset %}
{% include '../templates/_link.twig' with data %}
