{% set data = { 
    "link": "https://youtu.be/05HWg5R_zsE",
    "type": "youtube",
    "title": "Episode 5 | Deconstructing Enumerators",
    "series": "Refactoring with Bob"
} %}
{% set description %}
    <p>In which we answer the questions: how do `foreach` loops work? How do `yield return` statements work? We look at the C# compiler actually generates (more or less) in these cases.</p>
{% endset %}
{% include '../templates/_link.twig' with data %}
