{% set data = { 
    "link": "https://youtu.be/pgslebVq7v8",
    "type": "youtube",
    "title": "Episode 1 | Comment Approval",
    "series": "Refactoring with Bob"
} %}
{% set description %}
    <p>In which we look at a made-up function that adds/publishes comments to a page in a Content Management System.</p>
{% endset %}
{% include '../templates/_link.twig' with data %}

