{% extends '../comp/_surround.twig' %}

{% set title = 'Working in Seasons' %}

{% block body %}

<h2>Working in Seasons</h2>
<p class="date">2024-07-10</p>

<p>Does anyone else work in "seasons"? I do.</p>

<p>What I mean is that, for some period of time, I focus most of my free time and energy on one specific topic. To put a finer point on it, I obsess over a particular thing for a while.</p>

<p>For example, the last few seasons of my personal life: For several months, I dedicated myself to recording music, laying down several demos of old songs I had written in high school. Then I focused on learning French (Mais je ne parle pas tr&#232;s bien). I went through a game-development season where, not only did I create a <a href="https://mrdrbob.itch.io/" target="_blank">couple of tiny games</a>, but I also built an entire <a href="https://github.com/mrdrbob/2b2d" target="_blank">game engine</a> from scratch for some reason. Lately, I'm back to my old friend, screenwriting, working on two personal projects and a third with my writing partner. Also, I just volunteered to be a reader for the Austin Film Festival.</p>

<p>At the office, I've gone through documentation seasons, internal tooling seasons, obsessed over processes, metrics, poked at AI, and more, with each being the top focus for a few months at a time.</p>

<p>Don't get me wrong, the daily work still gets done. I don't go through a "dish-washing season" where I obsessively wash dishes and then leave them to pile up when the season is over. Dishes need to be cleaned, so I clean them. This is entirely concerned with the time in which I have the freedom to choose.</p>

<p>I imagine if I tried to juggle all of these things at once, in small, daily bursts, for example, I would fall apart. It's true that when I focus on one particular thing, everything else stagnates. But if I weren't making progress on my <em>one thing</em>, and was trying to work on <em>everything</em>, realistically, I would make meaningful progress on <em>nothing</em>.</p>

<p>It's silly, but I used to feel guilty about dropping an interest when the season for it had passed. As if, by not constantly worrying at every interest I have ever cared about, I was some kind of phony&mdash;a tourist. As if temporarily losing interest meant I never cared in the first place. "I haven't played guitar in two months. I'm such a poser!"</p>

<p>Ridiculous.</p>

<p>When I set things aside and my attention shifts, I'm not abandoning the things I love or the things I need to accomplish. It's not that they were never actually important to me. They were, are, and will continue to be. The dust on my guitar doesn't judge me; that's my folly. At any moment, I may take up the axe again and literally strike a chord. Even though I've stopped actively studying French, I still listen to francophone music and attempt to understand when I see or hear French in the world. These things are still important, just not my <em>current</em> focus.</p>

<p>So many times when I put something aside and return to it, I find some unbidden insight or breakthrough waiting for me. It's as though somewhere in the deep recesses of my mind, some part of me never actually stops thinking about that thing, and when I return, the results of that long, deep thought come bubbling up, like the effervescence of a glass of champagne.</p>

<p>Our culture frowns on saying no. Focusing on one thing means saying no to all the other things. We marvel at the whiz who always says "yes" and carries some uncountable load on their back. Well, I am not that person. I'm no whiz. I'm thoroughly ordinary, and this is my survival strategy.</p>

<p>It works for me. And now, having written all this, I find myself wondering if I can work the idea of seasonality into a screenplay.</p>

{% endblock %}