{% extends '../comp/_surround.twig' %}

{% set title = 'Tabs from other Devices' %}

{% block body %}

<h2>Tabs from other Devices</h2>
<p class="date">2024-06</p>

<p>It's time to declare tab bankruptcy once again, but before I close them all, here's a selection of things I've read or been reading in June.</p>

<ul>
    <li><a href="https://phoboslab.org/log/2021/09/q1k3-making-of" target="_blank">Q1K3 &#8212; Making Of</a> - Squeezing a quake-clone game into just 13Kb of Javascript.</li>
    <li><a href="https://www.aaedmusa.com/projects/capstandrive" target="_blank">Capstan Drive</a> - An interesting alternative to gears. Filed under: "Huh, didn't know that was thing. Neat!"</li>
    <li><a href="https://twobithistory.org/2019/11/06/doom-bsp.html" target="_blank">How Much of a Genius-Level Move Was Using Binary Space Partitioning in Doom?</a> - I'm fascinated with how clever data structures make the seemingly impossible possible, and the usage of BSP trees in Doom is legendary in that regard.</li>
    <li><a href="https://staniks.github.io/articles/grid-lightmaps" target="_blank">Fast Lightmapping in Grid-Based Worlds</a> - I've been thinking about adding some kind of rudimentary lighting system to <a href="https://github.com/mrdrbob/2b2d" target="_blank">2B2D</a>, my homegrown game engine, and this is a pretty gentle introduction to simplified, grid-based lighting.</li>
    <li><a href="https://thenumb.at/Exponential-Rotations/" target="_blank">Exponentially Better Rotations</a> - A little above my pay grade, a nice look at many different ways to do rotation in 3D space.</li>
    <li><a href="https://www.thrillingtalesofoldvideogames.com/blog/bowser-wife-clawdia-koopa-flurrie" target="_blank">The Legend Of Bowser’s Dead Wife</a> - Apparently I was on a retro-game story kick this month. Thrilling Tales of Old Video Games has a ton of other great articles to peruse as well.</li>
    <li><a href="https://www.ancientoriginsunleashed.com/p/hidden-hue-why-ancient-civilizations" target="_blank">Hidden Hue: Why Ancient Civilizations Failed to See the Color Blue?</a> - Does a hue exist if it hasn't been named?</li>
    <li><a href="https://danilafe.com/blog/blog_microfeatures/" target="_blank">Microfeatures I Love in Blogs and Personal Websites</a> - A laundry list of things I have utterly failed to do on my blog.</li>
    <li><a href="https://blog.frankmtaylor.com/2024/06/20/a-rant-about-front-end-development/" target="_blank">A Rant about Front-end Development</a> - A little spicy, and not something I agree 100% with, but still an honest rant about the ridiculous state of front-end development today.</li>
    <li><a href="https://www.arno.org/on-the-origins-of-ds-store" target="_blank">On the origins of DS_store</a> - Always wondered where this obnoxious files that keep showing up in repos and zip files come from.</li>
    <li><a href="https://hackaday.com/2024/06/06/linamp-the-irl-winamp/" target="_blank">LINAMP, THE IRL WINAMP</a> - Real-life Winamp is just objectively cool.</li>
    <li><a href="https://glicol.org/" target="_blank">GLICOL</a> - Program a synthesizer in your browser!</li>
    <li><a href="https://sidbala.com/h-264-is-magic/" target="_blank">H.264 is Magic</a> - Fascinating rundown of how H.264 video compression works at a conceptual level.</li>
    <li><a href="https://sky.esa.int/esasky/" target="_blank">ESASky</a> - An interactive map of the stars. Explore the sky!</li>
    <li><a href="https://www.andreinc.net/2024/04/24/from-the-circle-to-epicycles" target="_blank">From the Circle to Epicycles (Part 1)</a> - In theory, any sound can be reconstructed by mixing enough sine waves.</li>
</ul>

{% endblock %}