{% extends '../comp/_surround.twig' %}

{% set title = 'Tabs from other Devices' %}

{% block body %}

<h2>Tabs from other Devices</h2>
<p class="date">2024-05</p>

<p>I don't really use bookmarks. At least, not in the browser. For the most part, I just leave tabs open until I "get to them," or until I declare "tab bankruptcy" and unceremoniously close them all and start over. Usually this means a complete loss on all the links I have read, or started to read, or thought about reading. But I figured, rather than just dump all of that into the void, why not collect and share these links from time to time on the Internet, or you know, the void.</p>

<p>So, in no particular order, here are the tabs I'm a few minutes away from closing forever:</p>

<ul>
    <li><a href="https://zed.dev/blog/zed-decoded-rope-sumtree" target="_blank">Zed Decoded: Rope & SumTree</a> - I don't know why, but I find the data structures used in text editors to be fascinating. Maybe it's because it's something we just take for granted. A string is just a bunch of bytes in contiguous memory, right? Sure, it can be that, if you don't care about latency and performance.</li>
    <li><a href="https://mjml.io/" target="_blank">MJML</a> - Years ago I wrote a lot of HTML intended for emails. If you think targeting IE 6 was bad, try targeting Outlook, which famously used <em>Word</em> as its HTML rendering engine. I shudder just thinking of it. So when I saw this framework I thought it might be a nice tool to have in my back pocket, should the need ever arise again.</li>
    <li><a href="https://bittersoutherner.com/feature/2023/obituary-for-a-quiet-life" target="_blank">Obituary for a Quiet Life</a> - I've been thinking a lot about how we define success for ourselves and what goals are actually worthy of pursuit and this article dovetails with those thoughts nicely.</li>
    <li><a href="https://github.com/francisrstokes/githublog/blob/main/2024/5/10/cordic.md" target="_blank">Why the CORDIC algorithm lives rent-free in my head</a> - I love the incredible hacks the old great masters of programming used to squeeze out all the possible performance from the ancient hardware of yore. Here they do the seemingly impossible task of trigonometric functions on low-end hardware without FPUs or lookup tables.</li>
    <li><a href="https://coreyvilhauer.com/2024/05/30/giveth-taketh-away/" target="_blank">Giveth; Taketh Away</a> - A small story and meditation on privilege, normalcy, and more.</li>
    <li><a href="https://github.com/HigherOrderCO/Bend" target="_blank">Bend</a> - A programming language that can give me massively parallel computation basically for free? Sign me up!</li>
    <li><a href="https://floor796.com/" target="_blank">Floor 796</a> - A fun, massive, scrollable, looping animation. Can you find all the pop-culture references?</li>
    <li><a href="https://www.toomanyeggs.com/" target="_blank">Too Many Eggs</a> - If you're like me, you have chickens and also "too many eggs". Well here's the ultimate egg cookbook.</li>
    <li><a href="https://www.sassnow.ski/rigid-body-collisions/1" target="_blank">2D Rigid Body Collision Resolution</a> - A wonderfully clear and interactive introduction to 2D collisions. It sets a foundation of terms and math behind detecting and resolving 2D collisions in something like a game engine. I'm really looking forward to the continuation of the series.</li>
    <li><a href="https://bessey.dev/blog/2024/05/24/why-im-over-graphql/" target="_blank">Why, after 6 years, I’m over GraphQL</a> - An interesting counter-point to the push to GraphQL-all-the-things.</li>
    <li><a href="https://search.marginalia.nu/explore/random" target="_blank">Random Marginalia</a> - Love these "old web" style sites. They remind me when the web was almost exclusively passionate nerds, sharing their love and knowledge in clunky, quirky half-baked home-made web pages. Bonus nostalgia trip: <a href="https://spacehey.com/" target="_blank">SpaceHey</a>, the spiritual MySpace successor.</li>
</ul>



{% endblock %}