{% set data = { 
    "link": "https://youtu.be/pgslebVq7v8",
    "type": "youtube",
    "title": "Episode 1 | On Page Editing Meta Properties",
    "series": "Episerver with Bob"
} %}
{% set description %}
    <p>I show one technique to make metadata and otherwise non-visible page properties more user-friendly for on-page editing in Episerver.</p>
{% endset %}
{% include '../templates/_link.twig' with data %}

