{% set data = { 
    "link": "https://github.com/mrdrbob/godot-test",
    "type": "github",
    "title": "Playing with Godot Game Engine",
    "series": "Github"
} %}
{% set description %}
    <p>I started playing around a bit with <a href="https://godotengine.org/" target="_blank" rel="noopener">Godot</a>, following some tutorials and building a very rough, proof-of-concept side-scrolling platformer. In the <a href="https://github.com/mrdrbob/godot-test">Github repo</a>, you can find all my files and read through my development diary as I tried to figure out just what the heck I was doing. Overall, though, I'm extremely impressed with how polished Godot is, and how quickly a person can get up and running.</p>
{% endset %}
{% include '../templates/_link.twig' with data %}

