{% set data = { 
    "link": "https://github.com/mrdrbob/aoc-2020",
    "type": "github",
    "title": "Advent of Code 2020",
    "series": "Github"
} %}
{% set description %}
    <p>Another year and another attempt at <a href="https://adventofcode.com/2020" target="_blank" rel="noopener">Advent of Code</a>. Once again, I did not finish, though I made it slightly farther than before (day 15). And once again I tried it in <a href="https://www.rust-lang.org/" target="_blank" rel="noopener">Rust</a>. You can read my development diary as I worked through the syntax and logic. I've not used systems languages much, but I've had much greater success with Rust than I have any other systems language. It's not quite ready to be a part of my day job, but I see why it has such buzz.</p>
{% endset %}
{% include '../templates/_link.twig' with data %}
